body{
background-color: beige;
}

.centered {
    position: fixed; /* or absolute */
    top: 10%;
    left: 20%;
  }
.icecreamcone {
    width: 20%;
    height: 20%;
}

.lemonadedrink {
    width: 20%;
    height: 20%;
}

.oldladydrawing {
    width: 20%;
    height: 20%;
}

.carrrr {
    width: 20%;
    height: 20%;
}